version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 1
    groups:
      all:
        patterns: ["*"]
    commit-message:
      prefix: "[Frontend Deps] "

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 1
    groups:
      all:
        patterns: ["*"]
    commit-message:
      prefix: "[Backend Deps] "
