name: Build and Release

on:
  release:
    types: [ created ]

jobs:
  build_and_release:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v4
        with:
          node-version: "24" # Cached by github (https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2204-Readme.md#nodejs)
          cache: "pnpm"
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.pnpm-store
            ./node_modules
          key: pnpm-${{ hashFiles('./pnpm-lock.yaml') }}

      - name: Configure git to use HTTPS
        run: git config --global url."https://github.com/".insteadOf ssh://git@github.com/

      - name: Install dependencies
        if: ${{ steps.cache-dependencies.outputs.cache-hit != 'true' }}
        run: pnpm install

      - name: Build app
        run: pnpm build
        env:
          GITHUB_TOKEN: ${{ github.token }}
          CSC_IDENTITY_AUTO_DISCOVERY: false

      - name: Upload ZIP to release
        uses: softprops/action-gh-release@v1
        with:
          files: release/*.zip
        env:
          GITHUB_TOKEN: ${{ github.token }}
